:root {
  line-height: 1.5;
  font-weight: 400;
  --blue: #0D28A6;
  --green: #5CB85F;
  --main-section: #F1F3FF;
  --yellow: #F9CC00;
  --red: #FA2C5A;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before
*::after {
  box-sizing: border-box;
}

*{
  font-family:  Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

html{
  font-size: 62.5%;
}

html:focus-within{
  scroll-behavior: smooth;
}

html,
body{
  height: 100%;
}

img,
picture,
svg{
  max-width: 100%;
  display: block;
}

.wrapper{
  padding: 25px 10vw;
}


.nav-link{
  align-items: center;
  font-size: 1.4rem;
  color: black;
  align-content: center;
  padding: 7px 0;
}

nav .nav-link:hover{
  color: black;
  
}

nav .nav-link::after{
  content: "";
  display: block;
  margin: 0;
  width: 0;
  height: 2px;
  background-color: #202020;
  transition: width .3s;
}

.nav-link:hover::after{
  width: 100%;
}

nav ul{
  gap: 32px;
}

button{
  background-color: var(--green);
  padding: 8px 12px;
  color: white;
  border: none;
  border-radius: 2px;
}

.btn-register{
  font-size: 1.4rem;
  font-weight: 700;
  width: 81px;
}

.logo{
  width: 100px;
  height: 34px;
  background: #0D28A6;
}

#sidebar-menu{
  display: none;
}

/* Main Page Start */

section#main-page{
  background: var(--main-section);
  min-height: 100vh;
}

.container{
  display: flex;
}

.wrapper .container{
  margin-top: 13.8em;
}

.container .left-col{
  width: 50%;
  margin-top: 8em;
}

.left-col h1{
  margin: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 5.4rem;
}

.left-col p{
  margin-top: 1.15em;
  width: 85%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.container .right-col{
  width: 33%;
}

.right-col img{
  position: absolute;
  top: 19em;
  right: 0;
  width: 70.4em;
  height: 45.7em;
}

.btn-sewa{
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1.15em;
}

/* Main Page End */

/* Our Service Start */

  .container .img-service{
    margin: 0;
    width: 45.9rem;
    height: 42.8rem;
  }

  .container .service-content{
    width: 43%;
    margin-left: 12em;
    margin-top: 2.5em;
  }

  .service-content h1{
    margin: 0;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 700;
  }

  .service-content p{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
  }

  .service-content .service-desc{
    padding-top: 2.4rem;
  }

  .service-content .service-desc--list{
    padding-top: 1.8rem;
  }


  .service-desc--list p{
    display: inline;
    padding-left: 1.6rem;
  }

  .service-desc--list .check-btn{
    display: inline-block;
    background: #CFD4ED;
    color: var(--blue);
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 5px;
  }

/* Our Service End */

section#ourservice-page{
  min-height: 100vh;
}

@media(max-width: 576px) {

  .wrapper{
    padding: 24px 16px;
  }

  .navbar-nav{
    display: none;
  }

  .btn-burger-menu{
    border: none;
    background-color: transparent;
  }

  #sidebar-menu{
    display: block;
  }
  
  .offcanvas-header{
    padding: 30px 4vw;
  }

  h5.offcanvas-title{
    margin-left: .4em;
    font-size: 1.4rem;
    font-weight: 700;

  }

  .flex-column{
    margin-top: -2em;
  }

  .flex-column .nav-link{
    align-items: center;
    font-size: 1.4rem;
    color: black;
    align-content: center;
    padding-bottom: 18px;
  }
  
  .flex-column .nav-link:hover{
    color: black; 
    background-color: var(--main-section);
    width: 50%;
    padding-left: 10px;
  }

  .btn-close{
    float: right;
    height: 100%;
  }

  .button{
    margin-top: .5em;
  }

  /* Main Page Start */

  .wrapper .container{
    padding: 0;
    margin-top: 5em;
    display: block;
  }

  .container .left-col{
    width: 83%;
  }

  .left-col h1{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 5.4rem;
  }

  .left-col p{
    margin: 0;
    width: 110%;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
  }

  .right-col img{
    top: 47em;
    width: 96%;
    height: 20rem;
    left: 1.6em;
    align-items: center;
  }

  .container .right-col{
    width: 100%;
  }
  /* Main Page End */

  /* Our Service Start */
  .container .img-service{
    margin-top: 9rem;
    margin-left: 2rem;
    width: 25.2rem;
    height: 22.8rem;
    
  }

  .container .service-content{
    width: 100%;
    margin: 0;
    padding-top: 2.4rem;
  }

  
  /* Our Service End */
}



